
pythonProject/.idea/workspace.xml
testeaulas/.idea/.name
testeaulas/.idea/testeaulas.iml
testeaulas/.idea/modules.xml
testeaulas/.idea/misc.xml
testeaulas/.idea/inspectionProfiles/profiles_settings.xml
